<h1>Список обьявлений</h1>
<div id="content">
  <div id="map">
    
  </div> <!-- end map -->

  <div id="sort">
    <h2>Сортировать по:</h2><br><%= link_to 'New Order', new_order_path %>
    <ul>
      <li>Названию</li>
      <li>Удобствам</li>
      <li>Цене <select>
                <option value="10">Меньше 10</option>
                <option value="100">Меньше 100</option>
                <option value="101">Больше 100</option>        
               </select>
      </li>
      <li><input type="submit" value="Сортировать"></li>
    </ul>
  </div> 
  <div id="listings">
    <% @orders.each do |order| %>
    <div id="paragraph">
      <ul>
        <li><%= order.name %></li>
        <li><%= order.description %></li>
        <li><%= order.convenience %></li>
        <li><%= order.price %></li>
        <li><%= order.address %></li>
        <li><%= link_to 'Подробно', order %> <%= link_to 'Редактировать', edit_order_path(order) %> <%= link_to 'Удалить', order, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>
