<!DOCTYPE html>
<html>
<head>
  <title>Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Rooms</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to('Ads', orders_path) %></li>
          <li><%= link_to('New Ad', new_order_path) %></li>
        </ul>
        <% if user_signed_in? %>
          <p class="navbar-text navbar-right">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-link") %>
          </p>
          <p class="navbar-text navbar-right">
            Signed in as <%= current_user.email %>
          </p>
        <% else %>
          <p class="navbar-text navbar-right"><%= link_to('Login', new_user_session_path)  %></p>
        <% end %>

      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <%#= flash_messages %>
    <%= yield %>
  </div>
</body>
</html>
